<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 3</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- Lesson 51
  <div id="app">
    <p>{{ message.split('').reverse().join('') }}</p>
    <p>{{ reversedMessage }}</p>
    <p>{{ reversedMessage }}</p>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
-->
    <!-- Lesson 52
    <div id="app">
        <p>{{ reversedMessage }}</p>
        <p>{{ reversedMessageMethod() }}</p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
    <!-- Lesson 54
    <div id="app">
        <p>base price: <input type="text" v-model="basePrice"></p>
        <p>tax included price:
            <input type="text" v-model="taxIncludedPrice">
        </p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
<!-- Lesson55
    <div id="app">
        <h2>computed:</h2>
        <ol>
            <li>{{ computedNumber }}</li>
            <li>{{ computedNumber }}</li>
            <li>{{ computedNumber }}</li>
        </ol>
        <h2>methods:</h2>
        <ol>
            <li>{{ methodsNumber() }}</li>
            <li>{{ methodsNumber() }}</li>
            <li>{{ methodsNumber() }}</li>
        </ol>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
</body>

</html>