<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 3</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- Lesson 57 監視プロパティ
    <div id="app">
        <p>{{ message }}</p>
        <p>
            <input type="text" v-model="message">
        </p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
    <!-- Lesson 58 単位変換アプリ
    <div id="app">
        <p><input type="text" v-model="km">km</p>
        <p><input type="text" v-model="m">m</p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
    <!-- Lesson 59 算出プロパティと監視プロパティの比較
    <div id="app">
        <p><input type="text" v-model="firstName"></p>
        <p><input type="text" v-model="lastName"></p>
        <p>fullName: {{ fullName }}</p>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
<!-- Lesson 60 deepオプション
    <div id="app">
        <ul>
            <li v-for="color in colors">
                {{ color.name }}
            </li>
        </ul>
        <button v-on:click="onClick">Click!</button>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
-->
</body>

</html>